<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Decode</title>
    <link rel="stylesheet" href="/style/all.css">
</head>
<body>
    <%- include('partials/header.ejs') %>

    <div class="container">
        <div class="main">
           <div class="posts">
                <div class="profile-content-head">
                    <h2>Пользователи</h2>
                </div>

                <div class="users">

                    <%
                        users.forEach(user => {
                            if(!user.isAdmin){
                    %>
                            <div class="user">
                                <div class="userImage">
                                    <img src="<%=user.image%>" alt="">
                                </div>
                                <div class="userInfo">
                                    <p><span>Полное имя: </span><%=user.fullName%></p>
                                    <p><span>E-mail: </span><%=user.email%></p>
                                </div>
                                <div class="userButtons">
                                    <button class="sendMess">Написать сообщение</button>
                                    <button class="block">Заблокировать</button>
                                </div>
                            </div>   
                    <%  
                        }}) 
                    %>
                </div>

           </div>
           <div class="profile-right">
                <div class="profile-right-image">
                    <img src="<%=user.image%>" alt="">
                </div>
                <h3><%=user.fullName%></h3>
                <p><%=user.description%></p>
                <div class="profile_buttons">
                    <a class="editButton" href="/editProfile/<%=user.id%>">Редактировать</a>
                    <a class="logoutButton" href="/api/signout">Выйти</a>
                </div>
           </div>
        </div>
    </div>

    <%-include('partials/scripts.ejs')%>
    
</body>
</html>