<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>My account</title>
    <link rel="stylesheet" href="/style/all.css">
</head>
<body>
    <%- include('partials/header.ejs') %>

    <div class="container">
        <div class="main">
           <div class="posts">
                <div class="account-content-head">
                    <h2>Пользователи</h2>
                </div>

                <div class="users">

                    <%
                        users.forEach(user => {
                    %>
                        <div class="user">
                            <div class="userImage">
                                <img src="<%=user.image%>" alt="">
                            </div>
                            <div class="userInfo">
                                <p><span>Полное имя: </span><%=user.fullName%></p>
                                <p><span>E-mail: </span><%=user.email%></p>
                            </div>
                            <div class="userButtons">
                                <button class="sendMess">Написать сообщение</button>
                                <button class="block">Заблокировать</button>
                            </div>
                        </div>   
                    <%
                        }) 
                    %>
                </div>

           </div>
           <div class="account-right">
                <div class="account-right-image">
                    <img src="/images/admin-image.jpg" alt="">
                </div>
                <h3><%=user.fullName%></h3>
                <div class="account_buttons">
                    <a class="editButton" href="#">Редактировать</a>
                    <a class="logoutButton" href="/api/signout">Выйти</a>
                </div>
           </div>
        </div>
    </div>

    <script src="/js/dropdown.js"></script>
</body>
</html>