<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Decode</title>
    <link rel="stylesheet" href="/style/all.css">
</head>
<body>
    <%- include('partials/header.ejs') %>

    <div class="container">
        <div class="main">
            <div class="posts">
                <div class="profile-content-head">
                    <h2>Избранное</h2>
                </div>
                <% 
                    if(user.favBlogs.length > 0){
                        user.favBlogs.forEach(blog =>{
                %>
                    <div class="post">
                        <div class="post-img">
                            <img src="<%=blog.image%>" alt="">
                        </div>
                        <div class="post-content">
                            <div class="post-content-main">
                                <h3> 
                                    <a class="post-title" href="/inPostWL"><%=blog.title%></a>
                                    <div class="dropdown">
                                        <button class="dropdownBtn">
                                            <img src="/images/icons/ellipsis-vertical-solid.svg" alt="">
                                        </button>
                                        <div class="dropdownContent">
                                            <a class="deleteDD" onclick="deleteFromFavourites('<%=blog._id%>')">Убрать из избранного</a>
                                        </div>
                                    </div> 
                                </h3>
                                <p><%=blog.description%></p> 
                            </div>
                            
                            <div class="post-info">
                                <p>
                                    <img src="/images/icons/calendar.svg" alt="">
                                    <%=blog.date%>
                                </p>
                                <p>
                                    <img src="/images/icons/eye.svg" alt="">
                                    0
                                </p>
                                <p>
                                    <img src="/images/icons/comments.svg" alt="">
                                    0
                                </p>
                                <p>
                                    <img src="/images/icons/razdel.svg" alt="">
                                    <%=blog.categ.name%>
                                </p>
                                <p>
                                    <img src="/images/icons/user.svg" alt="">
                                    <%=blog.author.fullName%>
                                </p>
                            </div>
                        </div>
                    </div> 
                <%
                        })
                    }
                %>
            </div>
            <div class="categ">
                <h3>Категории</h3>
                <% 
                    categories.forEach(categ =>{
                %>
                    <a href="/<%=categ.key%>"><%=categ.name%></a>
                <%
                    }) 
                %>
           </div>
        </div>
    </div>
    
    <%-include('partials/scripts.ejs')%>

</body>
</html>