<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Index</title>
    <link rel="stylesheet" href="/style/all.css">
</head>
<body>
    <%- include('partials/header.ejs') %>

    <div class="container">
        <div class="main">
           <div class="posts">
                <div class="posts-head">
                    <h2>Блоги по программированию</h3>
                    <p>
                        Популярные и лучшие публикации по программированию для начинающих
                        и профессиональных программистов и IT-специалистов.
                    </p>
                </div>

                <% 
                    blogs.forEach(item => {
                %>
                <div class="post">
                    <div class="post-img">
                        <img src="<%=item.image%>" alt="">
                    </div>
                    <div class="post-content">
                        <div class="post-content-main">
                            <h3> 
                                <a class="post-title" href="/inPostWL"><%=item.title%></a> 
                            </h3>
                            <p><%=item.description%></p> 
                        </div>
                          
                        <div class="post-info">
                            <p>
                                <img src="/images/icons/calendar.svg" alt="">
                                <%=item.date%>
                            </p>
                            <p>
                                <img src="/images/icons/eye.svg" alt="">
                                0
                            </p>
                            <p>
                                <img src="/images/icons/comments.svg" alt="">
                                0
                            </p>
                            <p>
                                <img src="/images/icons/razdel.svg" alt="">
                                <%=item.categ.name%>
                            </p>
                            <p>
                                <img src="/images/icons/user.svg" alt="">
                                <%=item.author.fullName%>
                            </p>
                        </div>
                    </div>
                </div>   
                <%
                    })
                %>

            </div>

           <div class="categ">
                <h3>Категории</h3>
                <% 
                    categories.forEach(categ =>{
                %>
                    <a href="/<%=categ.key%>"><%=categ.name%></a>
                <%
                    }) 
                %>
           </div>
        </div>
    </div>
</body>
</html>