<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Decode</title>
    <link rel="stylesheet" href="/style/all.css">
</head>
<body>
    <%- include('partials/header.ejs') %>

    <div class="container">
        <div class="main">
           <div class="posts">
                <div class="posts-head">
                    <h2>Блоги по программированию</h3>
                    <p>
                        Популярные и лучшие публикации по программированию для начинающих
                        и профессиональных программистов и IT-специалистов.
                    </p>
                </div>

                <% 
                    blogs.forEach(item => {
                %>
                <div class="post">
                    <div class="post-img">
                        <img src="<%=item.image%>" alt="">
                    </div>
                    <div class="post-content">
                        <div class="post-content-main">
                            <h3> 
                                <a class="post-title" href="/inPost/<%=item.id%>"><%=item.title%></a>

                                <%
                                    if(user.favBlogs && user.favBlogs.includes(item._id)){
                                %>
                                    <p class="favTitle" onclick="deleteFromFavourites('<%=item._id%>')">В избранном</p>
                                <%
                                    }else{
                                %>
                                    <div class="dropdown">
                                            <button class="dropdownBtn">
                                                <img src="/images/icons/ellipsis-vertical-solid.svg" alt="">
                                            </button>
                                            <div class="dropdownContent">
                                                <a class="editDD" onclick="addToFavourites('<%=item._id%>')">Добавить в избранное</a>
                                            </div>
                                    </div> 
                                <%    
                                    }
                                %>
                            </h3>
                            <p><%=item.description%></p> 
                        </div>
                          
                        <div class="post-info">
                            <p>
                                <img src="/images/icons/calendar.svg" alt="">
                                <%=item.date%>
                            </p>
                            <p>
                                <img src="/images/icons/eye.svg" alt="">
                                0
                            </p>
                            <p>
                                <img src="/images/icons/comments.svg" alt="">
                                0
                            </p>
                            <p>
                                <img src="/images/icons/razdel.svg" alt="">
                                <%=item.categ.name%>
                            </p>
                            <p>
                                <img src="/images/icons/user.svg" alt="">
                                <%=item.author.fullName%>
                            </p>
                        </div>
                    </div>
                </div>   
                <%
                    })
                %>

                <div class="pages">
                    <%
                        let localsString = ''
                        if(locals.categ){
                            localsString = `categ=${locals.categ}&`
                        }
                        if(locals.search){
                            localsString = `search=${locals.search}&`
                        }
 
                        for(let i = 0; i < pages; i++){
                    %>
                            <a href="?<%=localsString%>page=<%=i%>"><%=i + 1%></a>
                    <%
                        }
                    %>
                </div>

            </div>

           <div class="categ">
                <h3>Категории</h3>
                <% 
                    categories.forEach(categ =>{
                %>
                    <a href="?categ=<%=categ.key%>"><%=categ.name%></a>
                <%
                    }) 
                %>
           </div>
        </div>
    </div>

    <%-include('partials/scripts.ejs')%>

</body>
</html>