<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>in post</title>
    <link rel="stylesheet" href="/style/all.css">
</head>
<body>
    <%- include('partials/header.ejs') %>

    <div class="container">
        <div class="main">
           <div class="posts">
                <%
                      
                %>
                <div class="post">
                    <div class="post-img">
                        <img src="<%=item.image%>" alt="">
                    </div>

                    <div class="post-info">
                        <p>
                            <img src="/images/icons/calendar.svg" alt="">
                            <%=item.date%>
                        </p>
                        <p>
                            <img src="/images/icons/eye.svg" alt="">
                            0
                        </p>
                        <p>
                            <img src="/images/icons/comments.svg" alt="">
                            0
                        </p>
                        <p>
                            <img src="/images/icons/razdel.svg" alt="">
                            <%=item.categ.name%>
                        </p>
                        <p>
                            <img src="/images/icons/user.svg" alt="">
                            <%=item.author.fullName%>
                        </p>
                    </div>

                    <div class="post-content">
                        <div class="post-content-main">
                            <div class="post-content-main">
                                <h3> 
                                    <a class="post-title" href="/inPostWL"><%=item.title%></a>
                                    <div class="dropdown">
                                        <button class="dropdownBtn" onclick="dropdownDots ()">
                                            <img src="/images/icons/ellipsis-vertical-solid.svg" alt="">
                                        </button>
                                        <div class="dropdownContent">
                                            <a class="editDD" href="#">Редактировать</a>
                                            <a class="deleteDD" href="#">Удалить</a>
                                        </div>
                                    </div> 
                                </h3>
                                <p><%=item.description%></p> 
                            </div>

                            <div class="main-post-hidden-content">
                                <h4>Что такое комплексные виджеты Webix?</h4>
                                <p>В отличие от обычных виджетов пользовательского интерфейса JavaScript, комплексные виджеты - это полноценные приложения, которые не требуют дополнительной настройки и кастомизации.</p>
                                <p>Они уже готовы к интеграции в Ваше бизнес-приложение, что позволяет экономить рабочее время программистам. Это визуальное воплощение концепции low-code платформы, которой является Webix. Комплексные виджеты Webix сразу же готовы к работе, потому что они содержат функциональный фронт-энд слой и, при необходимости, снабжены различными опциями для бэк-энда. </p>
                                <p>Гибкая архитектура Webix позволяет легко настраивать эти приложения, расширять их функциональность и интегрировать в существующие решения.</p>

                                <div class="hidden-content-new-comment-WL">
                                    <p>Чтобы оставить комментарий <a href="/register">зарегистрируйтесь</a>, или <a href="/signIn">войдите</a> в аккаунт. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
           </div>

           <div class="categ">
                <h3>Категории</h3>
                <% 
                    categories.forEach(categ =>{
                %>
                    <a href="/<%=categ.key%>"><%=categ.name%></a>
                <%
                    }) 
                %>
           </div>
        </div>
    </div>
</body>
</html>