<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Decode</title>
    <link rel="stylesheet" href="/style/all.css">
</head>
<body>
    <%- include('partials/header.ejs') %>

    <div class="container">
        <div class="main">
           <div class="posts">
                <div class="post">
                    <div class="post-img">
                        <img src="<%=thisBlog.image%>" alt="">
                    </div>

                    <div class="post-info">
                        <p>
                            <img src="/images/icons/calendar.svg" alt="">
                            <%=thisBlog.date%>
                        </p>
                        <p>
                            <img src="/images/icons/eye.svg" alt="">
                            0
                        </p>
                        <p>
                            <img src="/images/icons/comments.svg" alt="">
                            <%=CommentsCount%>
                        </p>
                        <p>
                            <img src="/images/icons/razdel.svg" alt="">
                            <%=thisBlog.categ.name%>
                        </p>
                        <p>
                            <img src="/images/icons/user.svg" alt="">
                            <%=thisBlog.author.fullName%>
                        </p>
                    </div>

                    <div class="post-content-main">
                        <div class="mainBlock">
                            <h3><%=thisBlog.title%></h3>
                            <p><%=thisBlog.description%></p> 

                            
                            <div class="comments">
                                <div class="comments-count">
                                    <h3>Комментарии</h3>
                                </div>
                            <%
                                if(Comments){
                                    Comments.forEach(comment =>{
                            %>
                                    <div class="comment">
                                        <div class="comment-img-name">
                                        <a href="#">
                                            <div class="profile-image">
                                                <img src="<%=comment.authorID.image%>" alt="">
                                            </div>
                                        </a>
                                        <p><%=comment.authorID.fullName%></p>
                                        </div>
                                        <p><%=comment.comment%></p>
                                    </div>
                            <%        
                                    })
                                 }
                            %>
                            </div>

                            <% 
                                if(user && user._id){
                            %>
                                <form class="new-comment" onsubmit="sendComment(event)">
                                    <input type="hidden" value="<%=user._id%>" id="comment_author">
                                    <input type="hidden" value="<%=thisBlog._id%>" id="comment_blog">
                                    <textarea id="comment-text" placeholder="Введите текст комментария"></textarea>
                                    <button type="submit" class="blueButton">Отправить</button>
                                </form>
                            <%
                                }else{                                
                            %>
                                <div class="new-comment-WL">
                                    <p>Чтобы оставить комментарий <a href="/register">зарегистрируйтесь</a>, или <a href="/signIn">войдите</a> в аккаунт. </p>
                                </div>
                            <%
                                }
                            %>

                        </div>
                    </div>
                </div>
           </div>
           <div class="categ">
                <h3>Категории</h3>
                <% 
                    categories.forEach(categ =>{
                %>
                    <a href="/<%=categ.key%>"><%=categ.name%></a>
                <%
                    }) 
                %>
           </div>
        </div>
    </div>

    <%-include('partials/scripts.ejs')%>

</body>
</html>